<div class="max-w-4xl mx-auto p-6 bg-white rounded shadow">
  <h1 class="text-2xl font-bold mb-4">ตะกร้าสินค้าของคุณ</h1>

  <% if @cart_items.present? %>
    <table class="w-full text-left">
      <thead>
        <tr class="border-b">
          <th class="py-2">สินค้า</th>
          <th class="py-2">จำนวน</th>
          <th class="py-2">ราคา</th>
          <th class="py-2">รวม</th>
          <th class="py-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |item| %>
          <tr class="border-b">
            <td class="py-2"><%= item.product.name %></td>
            <td class="py-2">
              <%= form_with model: item, url: cart_item_path(item), method: :patch, local: true do |f| %>
                <div class="flex items-center space-x-2">
                  <%= f.number_field :quantity, min: 1, class: "w-16 border rounded px-2 py-1 text-center" %>
                  <%= f.submit "อัปเดต", class: "bg-blue-600 hover:bg-blue-700 text-white text-sm px-4 py-2 rounded-full shadow-sm" %>
                </div>
              <% end %>
            </td>
            <td class="py-2"><%= number_to_currency(item.product.base_price, unit: "฿") %></td>
            <td class="py-2"><%= number_to_currency(item.total_price, unit: "฿") %></td>
            <td class="py-2">
              <%= button_to "ลบ", cart_item_path(item), method: :delete, class: "bg-red-600 hover:bg-red-700 text-white text-sm px-4 py-2 rounded-full shadow-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="mt-4 text-right">
      <p class="text-lg font-bold">
        รวมทั้งหมด: 
        <%= number_to_currency(@cart_items.sum(&:total_price), unit: "฿") %>
      </p>
      <div class="flex justify-between items-center mt-6">
        <%= link_to "< กลับไปหน้าหลัก", authenticated_root_path,
            class: "inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>

        <%= link_to "ไปชำระเงิน", new_order_path,
            class: "inline-block bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700" %>
      </div>
    </div>

  <% else %>
    <p class="text-gray-600">ยังไม่มีสินค้าในตะกร้า</p>
  <% end %>
</div>
