<%= form_with model: [:admin, product], local: true, html: { multipart: true } do |f| %>
  <div class="space-y-4">
    <%= f.text_field :name, placeholder: "ชื่อสินค้า", class: "w-full p-3 border rounded-lg" %>
    <% if product.errors[:name].present? %>
      <p class="text-red-600 text-sm mt-1"><%= product.errors[:name].first %></p>
    <% end %>

    <%= f.text_area :description, placeholder: "รายละเอียดสินค้า", class: "w-full p-3 border rounded-lg" %>
      <% if product.errors[:description].present? %>
        <p class="text-red-600 text-sm mt-1"><%= product.errors[:description].first %></p>
      <% end %>

      <%= f.select :category, 
        Product::CATEGORIES, 
        { prompt: "เลือกหมวดหมู่" }, 
        class: "w-full p-3 border rounded-lg" %>
      <% if product.errors[:category].present? %>
        <p class="text-red-600 text-sm mt-1"><%= product.errors[:category].first %></p>
      <% end %>

      <%= f.text_field :base_price, placeholder: "ราคา", class: "w-full p-3 border rounded-lg" %>
      <% if product.errors[:base_price].present? %>
        <p class="text-red-600 text-sm mt-1"><%= product.errors[:base_price].first %></p>
      <% end %>

      <%= f.text_field :stock, placeholder: "จำนวนสินค้า", class: "w-full p-3 border rounded-lg" %>
      <% if product.errors[:stock].present? %>
        <p class="text-red-600 text-sm mt-1"><%= product.errors[:stock].first %></p>
      <% end %>
      
      <%= f.select :status,
        Product::STATUS_OPTIONS,
        { prompt: "เลือกสถานะสินค้า" },
        class: "w-full p-3 border rounded-lg" %>
      <% if product.errors[:status].present? %>
        <p class="text-red-600 text-sm mt-1"><%= product.errors[:status].first %></p>
      <% end %>

    <div data-controller="image-preview-single">
      <label for="product_cover_image_url"
        class="block text-gray-700">URL รูปภาพสินค้าหลัก
      </label>
      <%= f.text_field :cover_image_url,
        id: "product_cover_image_url",
        placeholder: "วางลิงก์ URL รูปภาพสินค้าหลัก",
        class: "w-full p-3 border rounded-lg",
        data: {
          action: "input->image-preview-single#preview",
          image_preview_single_target: "input"
        } %>
      <% if product.persisted? && product.cover_image_url.present? %>
        <div class="mt-2">
            <p class="text-sm text-gray-500">รูปภาพปกปัจจุบัน:</p>
            <%= image_tag product.cover_image_url, class: "mt-1 rounded w-48 h-48 object-cover" %>
        </div>
      <% end %>
      <div class="mt-2 text-gray-500 text-sm" data-image-preview-single-target="placeholder"></div>
      <div class="mt-2" data-image-preview-single-target="preview"></div>
      <% if product.errors[:cover_image_url].present? %>
        <p class="text-red-600 text-sm mt-1"><%= product.errors[:cover_image_url].first %></p>
      <% end %>
    </div>

    <div data-controller="image-preview">
      <label for="product_cover_image_url"
        class="block text-gray-700">URL รูปภาพสินค้า
      </label>
      <div data-image-preview-target="inputs" class="space-y-2">
        <div class="flex gap-2 items-center">
          <input type="text"
            name="product[images_urls][]"
            placeholder="วางลิงก์ URL รูปสินค้า"
            class="w-full p-3 border rounded-lg"
            data-action="input->image-preview#preview"
            data-image-preview-target="input">
          <button 
            type="button" 
            class="px-3 py-2 bg-red-500 text-white rounded cursor-pointer" 
            data-action="click->image-preview#removeInput">
            ลบ
          </button>
        </div>
      </div>
      <button 
        type="button" 
        class="mt-4 bg-blue-500 text-white px-4 py-2 rounded cursor-pointer" 
        data-action="click->image-preview#addInput">
        + เพิ่มรูป
      </button>
      <div class="mt-4 grid grid-cols-3 gap-2" data-image-preview-target="previews"></div>
    </div>
    <% if product.persisted? && product.images_urls.present? %>
      <div class="mt-2">
        <p class="text-sm text-gray-500">รูปภาพสินค้าปัจจุบัน:</p>
        <div class="grid grid-cols-3 gap-2">
      <% product.images_urls.each do |image_url| %>
        <%= image_tag image_url, class: "mt-1 rounded w-48 h-48 object-cover" %>
      <% end %>
        </div>
      </div>
    <% end %>

    <div class="mt-6 flex gap-2">
      <%= f.submit (product.persisted? ? "บันทึกสินค้า" : "สร้างสินค้า"),
        class: "w-full bg-green-600 text-white py-2 rounded cursor-pointer" %>
      <%= link_to "ยกเลิก", authenticated_root_path, class: "w-full bg-gray-500 text-white py-2 rounded text-center inline-block" %>
    </div>
  </div>
<% end %>
